.space{
    padding-left: 20px;
}

.logo {
    height: 40px;
    width: 90px;
    border-radius: 5px;
    background-size: contain;
}

.line {
    padding-top: 5px;
    border-bottom: 1px gainsboro solid;
}