.space{
    padding-left: 20px;
}

.logo {
    height: 40px;
    width: 90px;
    border-radius: 5px;
    background-size: contain;
}

.line {
    padding-top: 5px;
    border-bottom: 1px gainsboro solid;
    margin-bottom: 20px;
    
}

.recipePhoto {
    height: 200px;
    width: 300px;
    border: 1px gainsboro solid;
    border-radius: 10px;
    margin-left:50px;
    margin-top: 20px;

}

.loc_button {
    position: relative;
    padding-top: 80px;
    padding-left: 135px;
}