.logopad {
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 20px;
}

.line {
    padding-top: 10px;
    margin-bottom: 30px;
    border-bottom: 1px gainsboro solid;
}

.top{
    padding-top: 10px;
}

.pos {
    position: relative;
    left: 10%;
    padding-top: 10px;
}

.logo {
    height: 40px;
    width: 90px;
    border-radius: 5px;
    background-size: contain;
}

.searchbar{
    width: 800px;
}