.logopad {
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 20px;
}

.line {
    padding-top: 10px;
    margin-bottom: 30px;
    border-bottom: 1px gainsboro solid;
}

.top{
    padding-top: 10px;
}

.pos {
    position: relative;
    left: 10%;
    padding-top: 10px;
}

.logo {
    height: 40px;
    width: 90px;
    border-radius: 5px;
    background-size: contain;
}

.searchbar{
    width: 800px;
}

.space{
    margin-top: 50px;
}

.image_no_result{
    height: 500px;
    width: 800px;
    position: relative;
    left: 15%;
    border: gainsboro 1px solid;
    border-radius: 5px;
    background-image: url(../../assets/noresult.jpg);
    background-size: cover;
}

.header{
    margin-bottom: 20px;
    position: relative;
    left: 40%;
}

.tab {
    height: 180px;
    width: 350px;
    border: 0.5px  gainsboro solid ;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.recipe_image{
    margin-top: 10px;
    margin-left: 10px;
    height: 80px;
    width: 80px;
    border : 1px black solid;
    border-radius: 20px;
    background-image: url(../../assets/recipe_logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.recipe_name {
    position: relative;
    top: 20px;
    left: 50px;
}

.button_pos{
    position: absolute;
    left: 280px;
}

.space1{
    padding-left: 20px;
}