.logopad {
    padding-left: 20px;
    padding-right: 20px;
}

.fe{
    padding-top: 30px;
}

.p {
    color: #272525;
    text-decoration: none;
    background-color: transparent;
}

.pad {
    padding-left: 30px;
    padding-right: 30px;
}