.logo {
    height: 40px;
    width: 90px;
    border-radius: 5px;
    background-size: contain;
}

.logopad {
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 35px;
}

.space{
    padding-left: 20px;
}

.line {
    padding-top: 20px;
    border-bottom: 1px gainsboro solid;
}

.recep_photo{
    position: relative;
    top: 30px;
    left: 50%;
    border: 1px gainsboro solid;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    background-image: url(../../assets/cake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.name{
    position: absolute;
    top: 130px;
    left: 20%;
    font-size: 70px;
    font-size-adjust: 0.5;
    font-family: monaco;
}

.author{
    position: absolute;
    top: 220px;
    left: 30%;
}

.note{
    position: absolute;
    top: 280px;
    left: 15%;
}

.diff{
    position: absolute;
    top: 280px;
    left: 30%;
}

.btn1{
    position: absolute;
    top: 350px;
    left: 18%;
}

.btn2{
    position: absolute;
    top: 350px;
    left: 30%;
}

.spacer {
    padding : 20px
}