.coverimageHolder {
    width: 100%;
    height: 300px;
    background-color: gainsboro;
    position: relative;
}

.space{
    padding-left: 20px;
}

.pad {
    padding-top: 40px;
}

.useroption {
    height: 40px;
    background: white;
    width: 100%;
    padding: 10px;
}

.profilepic{
    height: 120px;
    width: 120px;
    background: white;
    border : 1px black solid;
    margin: -70px;
    border-radius: 20px;
    
}