
<div class="container">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="center">
      <a class="btn font-weight-lighter" href="#"><img class ="logo" src="../../assets/logo.jpeg"></a>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <a class="text-muted space" href="/home"><mat-icon aria-hidden="false">home</mat-icon></a>
      <a class="text-muted space" href="/profile" data-toggle="modal" data-target="#SettingsModal"><mat-icon aria-hidden="false">settings</mat-icon></a>
      <a class="text-muted space"><mat-icon aria-hidden="false" (click)="logout()">logout</mat-icon></a>
    </div>
  </div>
</div>

<div class="coverimageHolder"></div>

<div class="useroption">
  <div class="container">
    <div class="row">
      <ng-container *ngIf= "(profile$ | async) as profile; else loading">
        <div class="col-md-1">
          <div class="profilepic"></div>
        </div>
        <div class="row">
          <div class="col-1">
            <mat-icon>perm_identity</mat-icon>
          </div>
          <div class="col">
            <div class="font-weight-lighter">{{profile.firstName}}</div>
          </div>
          <div class="col">
            <div class="font-weight-lighter">{{profile.lastName}}</div>
          </div>
          <div class="col-1">
            <mat-icon>grade</mat-icon>
          </div>
          <div class="col">
            <div class="font-weight-lighter">{{profile.score}}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="container pad font-weight-lighter">
  <div class="row">
    <!-- My recipes -->
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body" *ngIf= "(recipes$ | async) as recipes; else loading">
          <div class="row">
            <div class="col">Mes Recettes</div>
              <div class="col-2">
                <a type="button" class="text-muted" data-toggle="modal" data-target="#AddRecipe_Modal" ><mat-icon>add_to_photos</mat-icon></a>
              </div>
            </div>
              <hr>
              <div class="pad1" *ngFor="let recipe of recipes">
                <div class="tab">
                  <div class="recipe_image row"></div>
                    <div class="recipe_name">
                      {{recipe.name}}
                    </div>
                    <div class="button_pos">
                      <a type="button" class="text-muted space" href="/recipe/{{recipe.id}}"><mat-icon aria-hidden="false">view_comfy</mat-icon></a>
                      <a type="button" class="text-muted space" (click)="removeRecipe(recipe.id)"><mat-icon aria-hidden="false">delete</mat-icon></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Favorites -->
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body" *ngIf= "(favourites$ | async) as favourites; else loading">
              Favoris
              <hr>
              <div class="pad1" *ngFor="let recipe of favourites;let i=index">
                <div class="tab">
                  <div class="recipe_image row"></div>
                  <div class="recipe_name">
                    {{recipe.name}}
                  </div>
                  <div class="button_pos">
                    <a type="button" class="text-muted space" href="/recipe/{{recipe.id}}"><mat-icon aria-hidden="false">view_comfy</mat-icon></a>
                    <a type="button" class="text-muted space" (click)="removeFav(recipe.id)"><mat-icon aria-hidden="false">delete</mat-icon></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fridge Start -->
        <div class="font-weight-lighter card_1 overflow-auto col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="sticky-top">
                <div class="row">
                  <div class="col logopad1">
                    Frigde
                  </div>
                  <div class="col logopad2">
                    <a type="button" class="text-muted" data-toggle="modal" data-target="#FridgeModal"><mat-icon aria-hidden="false" class="logopad1">border_color</mat-icon></a>
                  </div>
                </div>
                <hr>
              </div>
              <div class="row">
                <div class="col">
                  Ingredient
                </div>
                <div class="col logopad2">
                  Quantity
                </div>
              </div>
              <hr>
              <div>
              <div *ngFor = "let ing of fridge ;let i=index">
                <div class="row">
                  <div class="col ">
                    {{ing.name}}
                  </div>
                  <div class="col logopad2">
                    {{ing.quantity}}
                  </div>
                </div>
                <hr>
              </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fride End -->
      </div>


      <!-- Settings Modal -->
      <div class="modal fade" id="SettingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <ng-container *ngIf= "(profile$ | async) as profile; else loading">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control font-weight-lighter" id="name" value={{profile.firstName}}>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control font-weight-lighter" value={{profile.lastName}}>
                    </div>
                  </div>
                </ng-container>
                <hr>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-8">
                    <input type="password" class="form-control" id="inputPassword">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Confirm</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="confirmPassword">
                    </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger delete_pos" data-toggle="modal" data-target="#ConfirmationModal">Delete Account</button>
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-dark">Save</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Confirmation Modal -->
      <div class="modal fade" id="ConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Your account will be permanently deleted.
              <hr>
              <form>
                  <div class="form-group row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                      <div class="col-sm-8">
                        <input type="password" class="form-control" id="inputPassword">
                      </div>
                    </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-danger">Yes, Delete</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Fridge Modal -->
      <div class="modal fade font-weight-lighter pos" id="FridgeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Your Fridge</h5>
              <button type="button" class="close" data-dismiss="modal" (click)="Notsave()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col">Ingredient</div>
                <div class="col-3">Quantity</div>
                <div class="col-3">Remove</div>
              </div>
              <hr>
              <div *ngFor = "let ing of fridgeInter ;let i=index">
                <div class="row">
                  <div class="col">
                    {{ing.name}}
                  </div>
                  <div class="col-3">
                    <form>
                      <input type="text" class="form-control" id="inputPassword" placeholder="{{ing.quantity}}">
                    </form>
                  </div>
                  <div class="col-3">
                    <a type ="button" class="text-muted" (click)="Remove(i)"><mat-icon aria-hidden="false" class="logopad1">clear</mat-icon></a>
                  </div>
                </div>
                <hr>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col">
                  <ng-select [items]="Ingredients"
                  bindLabel="name"
                  placeholder="Search"
                  appendTo="body"
                  multiple="true"
                  maxSelectedItems = 1
                  [(ngModel)]="selected">
                  </ng-select>
                </div>
                <div class="col-3">
                  <form [formGroup]="quantityForm" >
                    <input type="text" class="form-control" id="inputIngredient" formControlName="quantity">
                  </form>
                </div>
                <div class="col-3">
                  <a type ="button" class="text-muted" (click)="Add()"><mat-icon aria-hidden="false" class="addbutton">add_circle_outline</mat-icon></a>
                </div>
              </div>
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal" (click)="saveFridge()">Save Fridge</button>
            </div>
          </div>
        </div>
      </div>

      <!-- AddRecipe Modal -->
      <div class="modal fade" id="AddRecipe_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add your Recipe</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clear()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card sp">
                <div class="card-body">
                    <b>Informations</b>
                    <hr>
                    <form>
                      <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Name</label>
                          <div class="col-sm-6">
                            <form [formGroup]="recipeForm" >
                              <input type="text" class="form-control" id="nameRecipe" formControlName="nameRecipe">
                            </form>
                          </div>
                      </div>
      
                      <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Category</label>
                          <div class="col-sm-6">
                            <ng-select [items]="Categories"
                            bindLabel="categories"
                            placeholder="Choose category"
                            appendTo="body"
                            multiple="true"
                            maxSelectedItems = 4
                            [(ngModel)]="categories_Selected"
                            [ngModelOptions]="{standalone: true}">
                            </ng-select>
                            <!--<input type="text" class="form-control form-control-sm font-weight-lighter" id="category">-->
                          </div>
                      </div>
      
                      <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Difficulty</label>
                          <div class="col-sm-6">
                            <form [formGroup]="recipeForm" >
                              <input type="text" class="form-control" id="difficulty" formControlName="difficulty">
                            </form>
                            <!--<input type="text" class="form-control form-control-sm font-weight-lighter" id="difficulty">-->
                          </div>
                      </div>
      
                      <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Time</label>
                          <div class="col-sm-6">
                            <form [formGroup]="recipeForm" >
                              <input type="text" class="form-control" id="time" formControlName="time">
                            </form>
                            <!--<input type="text" class="form-control form-control-sm font-weight-lighter" id="time">-->
                          </div>
                      </div>
                  </form>
                </div>
              </div>

              <div class="card sp">
                <div class="card-body">
                    <div class="row">
                      <div class="col"><b>Ingredients</b></div>
                        <div class="row">
                          <div class="col-sm-7">
                            <ng-select [items]="Ingredients"
                            bindLabel="name"
                            placeholder="Search"
                            appendTo="body"
                            multiple="true"
                            maxSelectedItems = 1
                            [(ngModel)]="selectedIngredients"
                            >
                            </ng-select>
                          </div>
                          <div class="col">
                            <form [formGroup]="quantityForm" >
                              <input type="text" class="form-control" id="quantity" formControlName="quantity">
                            </form>
                          </div>
                          <div class="col">
                            <a type ="button" class="text-muted"><mat-icon aria-hidden="false" class="addbuttonbis" (click)="addIngredient()">add_circle_outline</mat-icon></a>
                          </div>
                        </div>
                    </div>
                    
                    <hr>

                    <div *ngFor = "let ingredient of ingredients_Recipe">
                      {{ingredient.name}}
                    </div>


                </div>
              </div>

              <div class="card sp">

                <div class="card-header">
                  Steps
                </div>

                <div class="card-body">

                        <div class="row">
                          <div class="col-8">

                            <form>
                              <div class="form-group">
                              
                                  <form [formGroup]="recipeForm" >
                                    <input type="text" class="form-control" id="instruction" formControlName="instruction">
                                  </form>
                              
                              </div>
                            </form>

                          </div>

                          <div class="col-4">
                            <a type ="button" class="text-muted"><mat-icon aria-hidden="false" class="addbuttonbis1" (click)="addSteps()">add_circle_outline</mat-icon></a>
                          </div>

                          
                        </div>

                    <hr>

                    <div *ngFor="let step of steps">
                      {{step.step}}
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal" (click)="clear()">Close</button>
              <button type="button" class="btn btn-outline-success" (click)="addRecipe()" data-dismiss="modal" >Add</button>
            </div>
          </div>
        </div>
      </div>
</div>

<ng-template #loading>
  Loading...
</ng-template>