.logopad {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    height: 40px;
    width: 90px;
    border-radius: 5px;
    background-size: contain;
}

.pos{
    position: absolute;
    top: 40%;
    left: 35%;
}

.tab {
    height: 180px;
    width: 350px;
    border: 0.5px  gainsboro solid ;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.recepe_image{
    margin-top: 10px;
    margin-left: 10px;
    height: 80px;
    width: 80px;
    border : 1px black solid;
    border-radius: 20px;
    background-image: url(../../assets/recep_logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.recepe_name {
    position: relative;
    top: 20px;
    left: 50px;
}

.button_pos{
    position: relative;
    left: 280px;
}

.space{
    padding-left: 20px;
}