<div class="container">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="center">
          <a class="btn font-weight-lighter" href="#"><img class ="logo" src="../../assets/logo.jpeg"></a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="text-muted space" href="/home"><mat-icon aria-hidden="false">home</mat-icon></a>
          <a class="text-muted space" href="/search"><mat-icon aria-hidden="false">search</mat-icon></a>
          <a class="text-muted space" href="/profile"><mat-icon aria-hidden="false">person</mat-icon></a>
        </div>
    </div>

    <div class="line"></div>

    <div class="title font-weight-lighter"><b>Challenge Name : </b>{{ Name }}</div>
    <hr>
    <div class="row">
        <div class="col">

            <div class="card cardsize">
                <div class="card-header">
                    Ingredients
                </div>
                <div class="card-body">

                    <div *ngFor="let ingredient of Ingredients_name">
                        <div class="font">{{ingredient}}</div>
                    </div>
                    
                
                </div>
            </div>

        </div>
        <div class="col">
            <div class="recipe_photo"></div>
        </div>
    </div>

    <hr>

    <div *ngIf="connected">

      <div class="addrecipe"> 

        <div class="row">
            <div class="col-3">
                Propose your ideas here ...
            </div>

            <div class="col-2">
                <a type="button" data-toggle="modal" data-target="#AddRecipe_Modal"><mat-icon>border_color</mat-icon></a>
            </div>
        </div>
        
    </div>


    </div>
    

    <hr>

    <div class="ShowResult">
            Solutions
            <hr>
            <div>
                <div class="row">
                    <div class="col-4" *ngFor="let recipe of SolutionsAll"> 
                      <div class="tab">
                        <div class="recipe_image row"></div>
                        <div class="recipe_name">
                          {{recipe.name}}
                        </div>
                        <div class="button_pos">
                            <a class="text-muted space" href="/recipe/{{recipe.id}}" ><mat-icon aria-hidden="false">view_comfy</mat-icon></a>
                            <div *ngIf="rights">
                              <a type="button" class="text-muted space" (click)="removeSolution(recipe.id)"><mat-icon aria-hidden="false">delete</mat-icon></a>
                            </div>
                        </div>
                        
                      </div>
                    </div>
                 </div>
             </div>
    </div>

    <hr>


    <!-- AddRecipe Modal -->
    <div class="modal fade" id="AddRecipe_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add your Recipe</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card sp">
                <div class="card-body">
                    <b>Informations</b>
                    <hr>
                    <form>
                      <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Name</label>
                          <div class="col-sm-6">
                            <form [formGroup]="recipeForm" >
                              <input type="text" class="form-control" id="nameRecipe" formControlName="nameRecipe">
                            </form>
                          </div>
                      </div>
      
                      <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Category</label>
                          <div class="col-sm-6">
                            <ng-select [items]="Categories"
                            bindLabel="categories"
                            placeholder="Choose category"
                            appendTo="body"
                            multiple="true"
                            maxSelectedItems = 4
                            [(ngModel)]="categories_Selected"
                            [ngModelOptions]="{standalone: true}">
                            </ng-select>
                          </div>
                      </div>
      
                      <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Difficulty</label>
                          <div class="col-sm-6">
                            <form [formGroup]="recipeForm" >
                              <input type="text" class="form-control" id="difficulty" formControlName="difficulty" (keypress)="handleKeyPressDifficulty($event)">
                            </form>
                          </div>
                      </div>
      
                      <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Time</label>
                          <div class="col-sm-6">
                            <form [formGroup]="recipeForm" >
                              <input type="text" class="form-control" id="time" formControlName="time" (keypress)="handleKeyPressTime($event)">
                            </form>
                          </div>
                      </div>
                  </form>
                </div>
              </div>

              <div class="card sp">
                <div class="card-body">
                    <div class="row">
                      <div class="col"><b>Ingredients</b></div>
                        <div class="row">
                          <div class="col-sm-7">
                            <ng-select [items]="Ingredients_1"
                            bindLabel="name"
                            placeholder="Search"
                            appendTo="body"
                            multiple="true"
                            maxSelectedItems = 1
                            [(ngModel)]="selectedIngredients"
                            >
                            </ng-select>
                          </div>
                          <div class="col">
                            <form [formGroup]="quantityForm" >
                              <input type="text" class="form-control" id="quantity" formControlName="quantity" (keypress)="handleKeyPressQuantity($event)">
                            </form>
                          </div>
                          <div class="col">
                            <a type ="button" class="text-muted" class="addbuttonbis" (click)="addIngredient()"><mat-icon aria-hidden="false" >add_circle_outline</mat-icon></a>
                          </div>
                        </div>
                    </div>
                    
                    <hr>
                    <form [formGroup]="quantityForm" >
                    <div *ngFor = "let ingredient of ingredients_Recipe;let i = index">
                      <div class="textCap font-weight-lighter">{{ingredient.name}} : {{ingredient.quantite}}</div>
                      
                        <div *ngIf="showInput">
                          <input type="text" class="form-control"  id={{list[i]}} formControlName={{list[i]}} placeholder={{ingredient.quantite}}>
                        </div>
                        
                     
                        
                    </div>
                  </form>


                </div>
              </div>

              <div class="card sp">

                <div class="card-header">
                  Steps
                </div>

                <div class="card-body">

                        <div class="row">
                          <div class="col-8">

                            <form>
                              <div class="form-group">
                              
                                  <form [formGroup]="recipeForm" >
                                    <input type="text" class="form-control" id="instruction" formControlName="instruction">
                                  </form>
                              
                              </div>
                            </form>

                          </div>

                          <div class="col-4">
                            <a type ="button" class="text-muted" class="addbuttonbis1" (click)="addSteps()"><mat-icon aria-hidden="false">add_circle_outline</mat-icon></a>
                          </div>

                          
                        </div>

                    <hr>

                    <div *ngFor="let step of steps">
                      <div class="textCap">{{step.step}}</div>
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-success" (click)="addRecipe()" data-dismiss="modal" >Add</button>
            </div>
          </div>
        </div>
      </div>
  
    
   

</div>

<ng-template #loading>
    Loading...
</ng-template>